# Visual Studio
.vs/
/x64/
/Debug/
/Release/
*.suo
*.user
*.vcxproj.filters
*.vcxproj.user

# Build results
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/
[Ll]og/

# Other
*.tlog
*.ilk
*.pdb
*.exe
*.dll

# vcpkg
vcpkg_installed/